<div class="outerstyle" ngClass.xs="xs-outer">
  <div class="borderstyle" ngClass.xs="xs-border">
    <div class="form">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="form1">
          <span class="blue">F</span>
          <span class="red">U</span>
          <span class="orange">N</span>
          <span class="yellow">D</span>
          <span class="color">O</span>
          <span class="green">O</span>
        </div>
        <div class="form-head">Find your Email</div>
        <h3 class="form-head2">Enter your registered FundooNotes Email</h3>
        <div class="row" >
          <p ngClass.xs="xs-email">
            <mat-form-field class="form-cd-rm" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error>enter your email</mat-error>
            </mat-form-field>
          </p>
        </div>
        <div class="btn" ngClass.xs="xs-btn">
          <button>Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
