.outerstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.borderstyle{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px -1px 6px #00000029;
    position: relative;
    width: 40%;
}
.form {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;   
    opacity: 1;
}
.form-head {
    font: normal normal normal 24px/37px Roboto;
    color: #42515f;
    text-align: center;
    padding-bottom: 20px;
}
.form1 {
   font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: center;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 1.52px;
    font-weight: 700;
    margin-top: 15px;
}
.form-head2{
    text-align: center;
}
.row{
    text-align: center;
    width: 100%;
}
.form-cd-rm{
    width: 425px; 
}
.btn{
    display: flex;
     justify-content: space-between;
     margin-top: 20px;
     a{
         color: rgb(77,77,253);
         font-size: 16px;
     }
     button{
         position: relative;

         background-color: rgb(77,77,253);
         font-size: 20px;
         border: 1px solid rgb(77,77,253);
         color: #fff;
         
         left: 380px;
         width: 75px;
         height: 40px;
    }}
     .blue{
        color: blue;
    }
    .red{
        color: red;
    }
    .orange{
        color: orange;
    }
    .yellow{
        color: yellow;
    }
    .color{
        color: palevioletred;
    }
    .green{
        color: green;
    }